a {
    text-decoration: none;
}

ou, ul {
    list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, a, p, ul {
    font-size: 1em;
    font-weight: normal;
}